<div class="footer-content">
    <div class="foot-left">
      <div style="float: left; margin-right: 40px;">
        <dl>
            <dt>Контактная информация</dt>
            <dd><div style="float:left; width: 65px;">Телефон:</div> +7 4012 307-700</dd>
            <dd><div style="float:left; width: 65px;">Факс:</div> +7 4012 307-711</dd>
            <dd><div style="float:left; width: 65px;">Skype:</div> rbpi.kld.office</dd>
        </dl>
      </div>
      <div style="float: left; margin-right: 40px;">
        <dl>
          <dt>Офис</dt>
          <dd>Калининград</dd>
          <dd>Московский проспект, 40</dd>
          <dd>8/817</dd>
        </dl>
      </div>
      <div style="float: left;">
        <dl>
          <dt>Почтовый адрес</dt>
          <dd>Россия</dd>
          <dd>236035, Бокс 179</dd>
          <dd>Email: <a class="decoration" href="mailto:inbox@rbpi.no">inbox@rbpi.no</a></dd>
        </dl>
      </div>
    </div>
    <div class="foot-right">
      <dl>
        <dd>&nbsp;</dd>
        <dd>
          <a class="decoration" href="<?=DOMAIN?><?=$language?>/om">Вход</a></dd>
      </dl>
    </div>
  </div>  
  