
<div>
  <div class="left-head-block">
    <a class="h1-link" href="/">Russia Baltic Pork Invest</a>
  </div>
    <a href="/"><div style="position: relative;" class="right-head-block"><img src="/images/logo.png" border="0" alt="" /></div></a>
    
  <div class="clear"></div>
</div>