<div class="content">
  <div class="tabcontents" style="height: 800px;">
    <div class="tab-control">
      <a href="" rel="tab-1" class="current">Ферма в Нижегородской области</a>
      <a href="" rel="tab-2">Бойня в Калининградской области</a>
    </div>
    <div id="tab">
      <div class="tab-list">
        <div class="tab-item current" id="tab-1">
          sfdffffffffffffff
        </div>
        <div class="tab-item" id="tab-2">
          asdasfsafsa
        </div>     
      </div>
    </div>
  </div>
</div>

