
<div class="content">
  <div class="tabcontents" style="height: 1000px;">
    <div class="tab-control">
      <a href="" rel="tab-1" class="current">Ферма в Нижегородской области</a>
      <a href="" rel="tab-2">Бойня в Калининградской области</a>
    </div>
    <div id="tab">
      <div class="tab-list">
        <div class="tab-item current" id="tab-1">
          <div class="supplier">
            <div class="content-left" style="height:900px; width:43%">
              <h2>Порода свиней:</h2>
              <dd>Генетически выведенная беконная порода свиней, полученная путем скрещения трех пород Дюрок, Ландрас и Йоркшир, для достижения лучших потребительских свойств свинины:</dd>        
              <dd>50 % Дюрок, 25% Ландрас, 25% Йоркшир. </dd>
              <dd>&nbsp;</dd>
              <dd>Дюрок - стрессоустойчивая порода, с высоким качеством мяса.</dd>
              <dd>Ландрас - порода с хорошо развитыми, плотными окороками.</dd>
              <dd>Йоркшир - мясо данной породы очень нежное и сочное.</dd>
              <dd>&nbsp;</dd>
              <h2>Продажи:</h2>
              <dd>Мы продаем свиней в живом весе в Калининграде (цена включает доставку до бойни), а также свиные полутуши с доставкой до Москвы и Санкт-Петербурга.</dd>
              <dd>Убой осуществляется в Калининграде.</dd>
              <dd>Срок доставки полутуш до Москвы или Санкт-Петербурга – 3 дня.</dd>
              <dd>Поставка осуществляется на условии 100% предоплаты за 24 часа до отгрузки.</dd>
              <dd>&nbsp;</dd>
              <h2>Розничные продажи в городе Правдинск:</h2>
              <dd>О ближайшей дате розничных продаж свиных полутуш, производства ЗАО «ПСП» будет объявлено дополнительно.</dd>
              <dd>&nbsp;</dd>
              <div class="content_colonka_5"><img src="http://www.rbpi.no/images/PigKollag.jpg" border="0"></div>
            </div>
        
            <div class="content-left" style="margin-bottom: 30px; width:43%">
              <h2>Наши технологии по выращиванию здоровых свиней:</h2>  
              <dd>•&nbsp;Использование самой передовой генетики в отрасли свиноводства</dd>
              <dd>•&nbsp;Надлежащий уход ветеринарами за животными, осуществляемый под контролем датского менеджмента</dd>
              <dd>•&nbsp;Минимальное  использование  медикаментов</dd>
              <dd>•&nbsp;Сбалансированная рецептура кормов, разработанная датскими экспертами </dd>
              <dd>•&nbsp;Собственное производство кормов и зерна, лабораторный контроль качества </dd>
              <dd>•&nbsp;Самостоятельное обеспечение чистой водой из собственных скважин</dd>
              <dd>•&nbsp;Современное оборудование от мировых лидеров-производителей</dd>
              <dd>•&nbsp;Дезинфекция транспорта, въезжающего на территорию свиноводческого комплекса, а также осуществление других карантинных процедур</dd>
              <dd>•&nbsp;Низкий уровень воздействия на окружающую среду</dd>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="tab-item" id="tab-2">
          asdasfsafsa
        </div>     
      </div>
    </div>
  </div>
</div>